body {
    margin: 0;
    padding: 60px 0;
    background: #080000;
    font-family: Georgia, serif;
}


/* MAIN TEMPLATE
   Straight sides with pointed top and bottom */

.fragmented {
    position: relative;
    width: 700px;
    min-height: 600px;
    margin: 60px auto;
    padding: 100px 70px;
    box-sizing: border-box;
    background: linear-gradient(
        to bottom,
        #9b000a,
        #730000,
    );

    clip-path: polygon(50% 0, 84% 30%, 84% 75%, 51% 100%, 16% 75%, 16% 31%);
}


/* TEXT AREA */

.content-area {
    position: relative;
    z-index: 2;
    width: 100%;
    max-width: 500px;
    margin: auto;
    background-color:#390000
}

.split-border-square {
  border-width: 4px;
  border-style: solid;
  /* Both colors meet exactly at 50% */
  border-image: linear-gradient(to right, #390000 50%, #ffbd00 50%) 1;
}

/* TITLE */

.title {
    color: #ffb000;

    font-size: 32px;
    font-weight: bold;

    letter-spacing: 6px;
    text-transform: uppercase;

    text-shadow:
        0 0 5px #ff0000,
        0 0 12px #8b0000;

    margin-bottom: 15px;
}


/* QUOTE */

.quote {
    color: #d8c7c7;

    font-size: 14px;
    font-style: italic;

    margin-bottom: 35px;
}


/* MAIN TEXT */

.content {
    color: #e6d6d6;
    font-size: 14px;
    line-height: 1.7;
    text-align: justify;
}
