@import url('https://fonts.googleapis.com/css2?family=My+Soul&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Diphylleia&display=swap');
body {
    margin: 0;
    padding: 40px 0;
    background: #080808;
    font-family: Georgia, serif;
}


/* MAIN TEMPLATE */
.fragmented {
    position: relative;

    width: 900px;
    height: 950px;

    margin: 40px auto;

    background-image: url("https://raw.githubusercontent.com/ghettobarbie18/fragmented/refs/heads/main/dulcebg%20(1).png");

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    overflow: visible;
}


/* CONTENT GROUP */
.content-area {
    position: absolute;

    width: 400px;

    left: 50%;
    top: 70%;

    transform: translate(-50%, -50%);
}


/* TITLE */
.title {
    width: 100%;

    margin-bottom: -25px;

    position: relative;
    z-index: 2;

    text-align: left;

    color: #c89b3c;

    font-family: "My Soul", cursive;

    font-size: 45px;
    font-weight: 400;

    letter-spacing: 7px;

    white-space: nowrap;

    text-shadow:
        0 0 5px #ffffff,
        0 0 10px #c00000,
        0 0 20px #c00000,
        0 0 35px #700000;
}


/* TEXT BOX */
.content {
    width: 400px;
    height: 280px;

    padding: 25px 30px;

    box-sizing: border-box;

    background: rgba(57, 0, 0, 0.88);

    color: #e6dada;

    font-family: Georgia, "Times New Roman", serif;

    font-size: 14px;

    line-height: 1.7;

    text-align: justify;

    overflow-y: auto;

    border: 2px solid transparent;

    border-image:
        linear-gradient(
            135deg,
            #300000,
            #a30000,
            #d4a84f,
            #a30000,
            #300000
        ) 1;
}

/* QUOTE */
.quote {
    width: 100%;

    margin-top: 0px;

    text-align: center;

    color: #ad9c9a;

    font-family: "Diphylleia", serif;

    font-size: 18px;

    font-weight: 400;

    white-space: nowrap;
    text-shadow:
        0 0 5px #000,
        0 0 10px #5c3935,
        0 0 15px #330703;
}


/* SCROLLBAR */
.content::-webkit-scrollbar {
    width: 6px;
}

.content::-webkit-scrollbar-track {
    background: transparent;
}

.content::-webkit-scrollbar-thumb {
    background: transparent;
}

.content {
    scrollbar-width: none;
    -ms-overflow-style: none;;
}
