body {
    margin: 0;
    padding: 40px 0;
    background: #080808;
    font-family: Georgia, serif;
}


/* MAIN TEMPLATE */
.fragmented {
    position: relative !important;
    width: 900px !important;
    height: 950px !important;
    margin: 40px auto !important;

    background-image: url("https://raw.githubusercontent.com/ghettobarbie18/fragmented/refs/heads/main/dulcebg%20(1).png") !important;
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.fragmented .content-area {
    position: absolute !important;
    width: 400px !important;
    left: 50% !important;
    top: 70% !important;
    transform: translate(-50%, -50%) !important;
}

.fragmented .title {
    width: 100% !important;
    margin-bottom: -25px !important;

    color: #c89b3c !important;
    font-family: Georgia, serif !important;
    font-size: 45px !important;
    letter-spacing: 7px !important;
    text-align: left !important;
    white-space: nowrap !important;
}

.fragmented .content {
    width: 400px !important;
    height: 280px !important;
    padding: 25px 30px !important;
    box-sizing: border-box !important;

    background: rgba(57, 0, 0, 0.88) !important;
    color: #e6dada !important;

    font-family: Georgia, "Times New Roman", serif !important;
    font-size: 14px !important;
    line-height: 1.7 !important;
    text-align: justify !important;

    overflow-y: auto !important;

    border: 2px solid transparent !important;
    border-image: linear-gradient(
        135deg,
        #300000,
        #a30000,
        #d4a84f,
        #a30000,
        #300000
    ) 1 !important;
}

.fragmented .quote {
    width: 100% !important;
    margin-top: 0 !important;

    color: #ad9c9a !important;
    font-family: Georgia, serif !important;
    font-size: 18px !important;
    text-align: center !important;

    white-space: nowrap !important;
}

/* SCROLLBAR */
.content::-webkit-scrollbar {
    width: 6px;
}

.content::-webkit-scrollbar-track {
    background: transparent;
}

.content::-webkit-scrollbar-thumb {
    background: transparent;
}

.content {
    scrollbar-width: none;
    -ms-overflow-style: none;;
}
